# dependencies
node_modules/

# production
/dist
/build

# local env
.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite
.vite/

# test output
coverage/

# system files
.DS_Store
Thumbs.db
